In [43]:
import requests
from bs4 import BeautifulSoup as bs
import re
import pandas as pd

In [65]:
url = 'http://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2019/start/1'
page = requests.get(url)
soup = bs(page.text, 'html.parser')
header = soup.find('tr', attrs = {'class': 'colhead'})
columns = [col.get_text() for col in header.find_all('td')]
final_df = pd.DataFrame(columns=columns)

for i in range(1, 346, 50):
    url = 'http://www.espn.com/mlb/history/leaders/_/breakdown/season/year/2019/start/{}'.format(i)
    page = requests.get(url)
    soup = bs(page.text, 'html.parser')
    players = soup.find_all ('tr', attrs = {'class':re.compile('row player-10-')})
    for player in players:
        stats = [stat.get_text() for stat in player.find_all('td')]

        temp_df = pd.DataFrame(stats).transpose()
        temp_df.columns = columns
        final_df = pd.concat([final_df, temp_df], ignore_index = True)

In [66]:
final_df

,,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,1,Howie Kendrick,14,121,334,61,115,23,1,17,62,27,49,2,1,.344
1,2,Tim Anderson,4,123,498,81,167,32,0,18,56,15,109,17,5,.335
2,3,Luis Arraez,1,92,326,54,109,20,1,4,28,36,29,2,2,.334
3,4,Donovan Solano,6,81,215,27,71,13,1,4,23,10,49,0,1,.330
4,5,Christian Yelich,7,130,489,100,161,29,3,44,97,80,118,30,2,.329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,342,Lewis Brinson,3,75,226,15,39,9,1,0,15,13,74,1,1,.173
342,343,Keon Broxton,5,100,204,24,34,4,0,6,16,20,104,10,6,.167
343,344,Mike Zunino,7,90,266,30,44,10,1,9,32,20,98,0,0,.165
344,345,Jeff Mathis,15,86,228,17,36,9,0,2,12,15,87,1,0,.158
345,346,Travis Shaw,5,86,230,22,36,5,0,7,16,36,89,0,0,.157